In [1]:
import sqlite3

working with database using SQL (stuctured quary language)

1 creat a connection object,
2 from the connection object, creat a curser object.
3 using the cursor object, call the execute method with create table query as the parameter.

# Create Database

In [2]:
#student_database will be created in jupyter notebook home

# first connection object
db=sqlite3.connect("student_database.db")

Curser
A curser in SQL is a temporary work area created in system memory when a SQL statement is excuted.
A SQL curser is a set of rows together with a pointer that identifies a current row.
It is a database object to retrieve data from a result set one row at a time.

In [3]:
# create curser object from connection

cur=db.cursor()

# DBMS

In [5]:
import sqlite3

create database

In [7]:
db=sqlite3.connect('student_detail_database21aug.db')

create cursor

In [11]:
cur=db.cursor()

In [17]:
cur.execute('create table student(id int primary key,name text,marks int)')

OperationalError: table student already exists

In [16]:
cur.execute("insert into student(id,name,marks) values(101,'john',80)")

IntegrityError: UNIQUE constraint failed: student.id

In [11]:
db.commit() # dcl(data contarol langauge)

In [12]:
cur.execute("insert into student(id,name,marks) values(102,'jack',75)")
ddb.commit()

In [13]:
cur.execute("insert into student(id,name,marks) values(103,'dorsey',55)")
db.commit()

In [14]:
results=cur.execute("select * from student")

for i in results:
    print(i)

(101, 'john', 80)
(102, 'jack', 75)
(103, 'dorsey', 55)

In [17]:
cur.execute("insert into student(id,name,marks) values(104,'elon',78)")
db.commit()

In [18]:
cur.execute("insert into student values(105,'grey',90),(106,'richard',55),(107,'branson',95)")
db.commit()

In [15]:
results=cur.execute("select * from student")

for i in results:
    print(i)

(101, 'john', 80)
(102, 'jack', 75)
(103, 'dorsey', 55)
(104, 'elon', 78)
(105, 'grey', 90)
(106, 'richard', 55)
(107, 'branson', 95)

In [14]:
results=cur.execute("select * from student") 

results.fetchall()

[(101, 'john', 80),
 (102, 'jack', 75),
 (103, 'dorsey', 55),
 (104, 'elon', 78),
 (105, 'grey', 90),
 (106, 'richard', 55),
 (107, 'branson', 95)]

In [13]:
results=cur.execute("select * from student where id=101")
for i in results:
    print(i)

(101, 'john', 80)

In [18]:
results=cur.execute("select * from student where id=102")
for i in results:
    print(i)

(102, 'jack', 75)

In [19]:
results=cur.execute("select * from student where id=105")
for i in results:
    print(i)

results.fetchone()

(105, 'grey', 90)

In [20]:
result=cur.execute("select * from student where name='jack'")
results.fetchone()

(102, 'jack', 75)

In [24]:
result=cur.execute("select * from student where marks='78'")
results.fetchone()

(104, 'elon', 78)

In [25]:
result=cur.execute("select * from student where name in('jack','john')")

for i in results:
    print(i)

(101, 'john', 80)
(102, 'jack', 75)

In [28]:
result=cur.execute("select * from student where id in(101,102,103)")

for i in results:
    print(i)

(101, 'john', 80)
(102, 'jack', 75)
(103, 'dorsey', 55)

In [29]:
result=cur.execute("select * from student")

for i in results:
    print(i)

(101, 'john', 80)
(102, 'jack', 75)
(103, 'dorsey', 55)
(104, 'elon', 78)
(105, 'grey', 90)
(106, 'richard', 55)
(107, 'branson', 95)

In [30]:
results=cur.execute("select * from student order by name asc")
for i in results:
    print(i)

(107, 'branson', 95)
(103, 'dorsey', 55)
(104, 'elon', 78)
(105, 'grey', 90)
(102, 'jack', 75)
(101, 'john', 80)
(106, 'richard', 55)

In [31]:
results=cur.execute("select * from student order by name desc")
for i in results:
    print(i)

(106, 'richard', 55)
(101, 'john', 80)
(102, 'jack', 75)
(105, 'grey', 90)
(104, 'elon', 78)
(103, 'dorsey', 55)
(107, 'branson', 95)